html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*GLOBALES*/

body{
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    color: white;
}

header{
    background-color: white;
    position: fixed;
    z-index: 6;
    top: 0%;
    height: 15vh;
}

a{
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    margin: 0% auto;
}

/*SECTIONS*/
    /*HERO*/
.hero{
    background-image: url(img/taxi.jpg);
    background-size: cover;
    height: 100vh;
}

.section-1{
    background-color: #f7b617;
    position: absolute;
    width: 77%;
    height: 28vh;
    right: 0%;
    top: 50%;
}

.info-mobile h1{
    /*width: 80%;*/
    /*font-size: 1.5rem;*/
    line-height: 2rem;
    padding: 1%;
    margin: 9%;
}
.info-mobile img{
    width: 30%;
}
.btn-download{
    padding: 0.8rem;
    border-radius: 6px;
    margin: 10%;
}
.info-desktop, .btn-register, .btn-driver-1, .text-section-1{
    display: none;
}

/*INFORMATION*/

.information{
    background-color: #f7b617;
    height: 85vh;
}
.information-line{
    border: white 1px solid;
    width: 91%;
    height: 95vh;
    margin: 4%;
    padding: 5%;
    padding-top: 13%;
}
.mobile-2{
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
} 
.section-2 img{
    width: 80%;
    display: block;
    margin: auto; 
}
.text-info{
    padding-left: 4%;
    font-size: 1rem;
}
.section-2-desktop{
    display: none;
}

/*DRIVER*/

.driver{
    background-image: url(img/conduce.jpg);
    background-size: cover;
    height: 36vh;
}
.content-driver{
    width: 100%;
    height: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
.content-driver h2{
    font-size: 1rem;
}
.btn-driver-2{
    background-color: #f7b617;
    color: white;
    display: inline-table;
    position: absolute;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: -1%;
    margin-top: 1%;
    font-size: small;
}
/*RATE*/
.rate{
    background-color: #f7b617;
    height: 100vh;
}
.content-rate{
    padding: 2rem;
}
.rute input{
    margin-left: 1rem;
    height: 2rem;
    width: 60vw;
    background-color: #F7B617;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-left: 1rem;
}
.rute label{
    margin: 1.5rem 0;
    display: block;
}
.rute ::placeholder{
    color: white;
}
.btn-rute{
    padding: 0.5rem;
    border-radius: 6px;
    margin: 22%;
}

.rate-rute input {
    margin-left: 1rem;
    height: 3rem;
    width: 60vw;
    color: white;
    background-color: #F7B617;
    border-color:  white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-left: 1rem;
}
/*.map-line{
    border: white 1px solid;
    width: 105%;
    height: 48vh;
    margin: -1%;
}*/
.map{
    margin-left: 0%;
    margin-top: 25%;
}

 /*MODALES*/
        /*MODAL INICIAR SESIÓN*/
#new-account{
    background-color: antiquewhite;
    height: 75vh;
}
.content-account{
    background-color: #00b29d;
    width: 90%;
    height: 75%;
    margin: 2rem auto;
    border-radius: 0.8rem;    
}

.content-account img{
    width: 26%;
    margin-left: 35%;
    margin-top: 7%;
}
.content-account label{
    margin: 1.5rem 0;
}
.content-account input{
    background-color: white;
    color: white;
    display: inline-table;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: 35%;
    margin-top: 4%;
    font-size: small;
    margin-left: 1rem;
    height: 2rem;
    width: 60vw;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-left: 1rem;
}
.user{
    background-color: #f5f5f5;
    width: 80%;
    display: inline-flex;
    margin-left: 8%;
    height: 33vh;
}
.account-1 img{
    width: 9%;
    margin-left: 3%;
    position: inherit;
}
.account-2 img{
    width: 9%;
    margin-left: 3%;
    position: inherit;
}
.btn-loging{
    background-color: #f7b617;
    color: white;
    display: flex;
    position: absolute;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: 22%;
    margin-top: 52%;
    font-size: small;
}
.user p{
    text-align: center;
    justify-content: center;
}

/*MODAL DE REGISTRARTE*/

#check-in{
    background-color: antiquewhite;
    height: 75vh;
}
.content-check-in{
    background-color: #a8a8a8;
    width: 84%;
    height: 60vh;
    margin: 2rem auto;
    border-radius: 0.8rem; 
}
.btn-check-in{
    background-color: black;
    color: white;
    display: flex;
    position: absolute;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: 8%;
    margin-top: 4%;
    font-size: small;
    width: 32vh;
    padding-left: 13%;
}
.content-check-in p{
    margin-top: 25%;
    font-size: 0.8rem;
    margin-left: 17%;
}
.account-3 input{
    margin-left: 3%;
    display: inline-block;
    width: 17vh;
    border-radius: 6px;
    height: 4vh;
}
.account-4 input{
    width: 36vh;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 6px;
    height: 4vh;
}
.account-3 ::placeholder{
    padding-left: 5%;
}
.account-4 ::placeholder{
    padding-left: 5%;
}
.btn-submit{
    background-color: #4ebddf;
    color: white;
    display: flex;
    position: absolute;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: 3%;
    margin-top: -2%;
    font-size: small;
    width: 36vh;
    padding-left: 31%;
}

/*MODAL DE CONVIERTE EN CONDUCTOR*/
.become-driver{
    background-color: antiquewhite;
    height: 75vh;
}
.content-become-driver{
    background-color: #a8a8a8;
    width: 84%;
    height: 60vh;
    margin: 2rem auto;
    border-radius: 0.8rem; 
    padding-top: 5%;
}
.content-become-driver label{
    color: black;
    margin-top: 10%;
    margin-left: 5%;
}
.content-become-driver input{
    background-color: white;
    color: black;
    display: inline-table;
    padding: 0.5rem;
    border-radius: 6px;
    margin-left: 35%;
    margin-top: 4%;
    font-size: small;
    margin-left: 2rem;
    height: 1.9rem;
    width: 60vw;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-left: 1rem;
}
.content-become-driver p{
    font-size: 0.9rem;
    margin-left: 6%;
    font-size: 0.9rem;
    font-weight: bold;
}
.btn-submit{

}
/*FOOTER*/
footer{
    display: flex;
    background-color: #2b2b2b;
}
.head-footer img{
    width: 50%;
}
.head-footer hr{
   width: 90%;
}
.footer-list hr{
    width: 90%;
}
.content-footer{
    width: 80vw;
    height: 65vh;
}
.content-footer li{
    font-size: 1rem;
    margin: 3%;
}
.social-media{
    width: 6%;
    display: flex;
    margin-left: 10rem;
}
.social-media img{
    width: 80%;
    margin:0 4px;
}
.list-mobile ul{
    padding-inline-start: 15px;
    line-height: 1.7rem;
}
.list-desktop{
    display: none;
}
.store{
    margin-top: -58%;
}
.store img{
    width: 50%;
    margin-left: 60%;
}
.footer-end{
    display: inline-block;
    margin-top: 25%;
    margin-left: 3%;
}

/*MENU HAMBURGUESA*/

.menu{
    color: #191C26;
    cursor: pointer;
    display: flex;
    order: -1;
}
.menu > li{
    float: left;
}
.menu li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
.menu li a:hover {
    background-color: #f7b617;
}
.menu ul {
    display: none;
    position:absolute;
	min-width:30vh;
}
.menu li:hover > ul {
    display:block;
}

.menu ul li {
    position:relative;
}

.menu i {
    border-color:  rgb(150, 150, 150);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 2rem;
    color: rgb(135, 133, 133)
}
li{
    list-style: none;
}
.menu-desktop {
    display: none;
}

/* HIDE */
.hide {
    display: none;
}


/*RESPONSIVE*/
@media (min-width:768px) {

    /*MENU DESKTOP*/
    nav {
        position: relative;
    }
    .menu {
        display: none;
    }
    .menu-desktop{
        display: block;
        position: absolute;
        right: 0;
        padding: 0.5rem 0;
        margin: -2rem 0;
    }
    .menu-desktop li {
        display: inline;
    }
    .menu-desktop a:hover {
        color: rgb(248, 212, 8);
    }
    .menu-desktop a {
        display: inline;
        margin-right: 3rem;
        color: #191C26;
    }

    /*HERO*/

    .hero{
        background-position: center bottom;
        height: 100vh;
    }
    .section-1{
        height: 50vh;
        width: 40%;
        right: 0%;
        top: 24%;
    }
    .info-desktop{
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 3%;
    }
    .info-desktop h4{
        margin-left: 2%;
    }
    .info-desktop h2{
        margin: 1%;
        font-size: 1.9rem;
    }
    .info-desktop img{
        width: 25%;
    }
    .text-section-1{
        text-align: center;
    }
    .btn-register, .btn-driver-1{
        display: inline;
        padding: 0.8rem;
        border-radius: 6px;
        margin: 5%;

    }
    .info-mobile, .btn-download{
        display: none;
    }

    /*INFORMATION*/
    
    .information{
        height: 85vh;
    }
    .information-line{
        width: 165vh;
        height: 90vh;
        margin: 0%;
        padding: 0%;
        padding-top: 0%;
        margin: 30px 3px 30px -1px;
    }
    .section-2-desktop{
        display: block;
        position: absolute;
        width: 31%;
        margin-left: 51%;
        top: 111%;
    }

    .text{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .section-2 img{
        width: 30%;
        display: block;
        margin-left: 10%;
        margin-top: 7%; 
    }
    .text-info, .mobile-2{
        display: none;
    }

    /*DRIVER*/

    .driver{
        background-position: center;
        height: 70vh;
    }
    .content-driver{
        width: 42%;
        justify-content: flex-end;
        margin-left: 58%;
    }
    .content-driver h2{
        font-size: 2rem;
    }
    .content-driver p{
        font-size: 1.5rem;
    }
    .btn-driver-2{
        position: absolute;
        padding: 1rem;
        border-radius: 6px;
        margin-left: 1%;
        margin-top: 4%;
        font-size: medium;
    }
    /*RATE*/
    .rate{
        height: 80vh;
    }
    .content-rate{
        padding: 2rem;
        margin-top: 3%;
    }
    .rute{
        padding-left: 3%;
    }
    .rute input{
        margin-left: 1rem;
        height: 3rem;
        width: 30vw;
    }
    .rute label{
        margin: 1.5rem 0;
        display: block;
    }
    .rute h2{
        font-size: 1.5rem;
    }
    .rute p{
        font-size: 1.3rem;
    }
    .rute ::placeholder{
        color: white;
        font-size: 1rem;
    }
    .btn-rute{
        margin: 15%;
    }
    .map{
        margin-left: 52%;
        margin-top: -26%;
    }
    .map iframe{
        width: 74vh;
        height: 69vh;
    }

/*MODALES*/
    /*MODAL INICIAR SESIÓN*/
#new-account{
    height: 80vh;
}
.content-account{
    width: 50%;
    height: 60vh;
    margin: 2rem auto;  
}

.content-account img{
    width: 15%;
    margin-left: 42%;
    margin-top: 5%;
}
.content-account label{
    margin: 1.5rem 0;
}
.content-account input{
    margin-left: 1rem;
    height: 2rem;
    width: 33vw;
}
.user{
    width: 80%;
    margin-left: 8%;
    height: 35vh;
}
.account-1 img{
    width: 7%;
    margin-left: 1%;
    position: inherit;
}
.account-2 img{
    width: 7%;
    margin-left: 1%;
    position: inherit;
}
.btn-loging{
    background-color: #f7b617;
    color: white;
    display: flex;
    padding: 0.8rem;
    border-radius: 6px;
    margin-left: 18%;
    margin-top: 15%;
    font-size: small;
    position: absolute;
}
/*.password p{
    text-align: center;
    justify-content: center;
    color: red;
    display: flex;
}*/

/*MODAL DE REGISTRATE*/
#check-in{
    height: 80vh;
}
.content-check-in{
    width: 50%;
    height: 73vh;
    margin: 1rem auto;
}
.btn-check-in{
    margin-top: 2%;
    font-size: medium;
    width: 90%;
    padding-left: 8%;
    display: block;
    position: inherit;
    margin-left: 5%;
    position: inherit;
}
.content-check-in p{
    margin-top: 2%;
    font-size: 1.2rem;
    margin-left: 29%;
}
.account-3 input{
    margin-left: 3%;
    display: inline-block;
    width: 44vh;
    height: 4vh;
}
.account-4 input{
    display: block;
    /* width: 92vh; */
    margin-left: 3%;
    margin-top: 3%;
    height: 4vh;
    width: 94%;
}
.account-3 ::placeholder{
    padding-left: 5%;
}
.account-4 ::placeholder{
    padding-left: 3%;
}
.btn-submit{
    display: block;
    position: absolute;
    padding: 0.8rem;
    margin-left: 7%;
    margin-top: 1%;
    font-size: medium;
    padding-left: 1%;
    width: 34%;
}

/*MODAL DE CONVIERTE EN CONDUCTOR*/
.become-driver{
    height: 80vh;
}
.content-become-driver{
    width: 50%;
    height: 73vh;
    margin: 1rem auto;
    border-radius: 0.8rem; 
    padding-top: 5%;
}
.content-become-driver label{
    margin-top: 10%;
    margin-left: 5%;
}
.content-become-driver input{
    display: block;
    padding: 0.5rem;
    margin-top: 4%;
    font-size: small;
    margin-left: 1rem;
    height: 1.9rem;
    width: 46vw;
    padding-left: 1rem;
}
.content-become-driver p{
    font-size: 0.9rem;
    margin-left: 6%;
    font-size: 0.9rem;
    font-weight: bold;
}
.btn-submit{

}

/*FOOTER*/
    .content-footer{
        width: 90vw;
        height: 85vh;
        padding: 5%;
        margin: 2%;
    }
    .head-footer img{
        width: 10%;
    }
    .social-media{
        justify-content: flex-end;
    }
    .social-media img{
        width: 40%;
    }
    .footer-list{
        display: flex;
        justify-content: center;
    }
    .list-mobile{
        display: flex;
        float: left;
    }
    .list-mobile ul{
        padding-inline-start: 1px;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .list-desktop{
        display: flex;
        justify-content: end;
    }
    .list-desktop ul{
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .store{
        display: block;
        justify-content: baseline;
        margin: -31%;
        margin-right: -23rem;
    }
    .store img{
        width: 10%;
        margin-right: 0%;
        position: relative;
        padding: 1%;
    }
    .footer-end{
        display: flex;
        margin-top: 46%;
        margin-left: -1%;
        justify-content: start;
    }
}
/*MEDIDAS DEL GRID*/
.col-1{width: 8.333333333333332%;}
.col-2{width: 16.666666666666664%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333333333%;}
.col-5{width: 41.66666666666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333333333336%;}
.col-8{width: 66.66666666666666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333333334%;}
.col-11{width: 91.66666666666666%;}
.col-12{width: 100%;}